{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.event_details'|trans({'%id%': event.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.event_details'|trans({'%id%': event.id|default('')}) }}</h1>
    {% if event is defined and event|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  event.title }}</dd>
            <dt>{{ 'label.duration_from'|trans }}</dt>
            <dd>{{ event.durationFrom|date("H:i  d.m.Y") }}</dd>
            <dt>{{ 'label.duration_to'|trans }}</dt>
            <dd>{{ event.durationTo|date("H:i  d.m.Y") }}</dd>
            {# <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  event.category.title }}</dd>#}
            <dt>{{ 'label.description' }}</dt>
            <dd>{{ event.description|trans}}</dd>
        </dl>
        <p>
            <a href="{{ url('event_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}