{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_edit' |trans }}
{% endblock %}

{% block body %}
     {% if user is defined and user|length and user.id == app.user.id or is_granted('ROLE_ADMIN') %}
         <h1>{{ 'title.user_edit'|trans }}</h1>
         {{ form_start(form) }}
        {% if false == form.vars.valid %}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'danger',
                message: 'message.form_error'|trans,
            }%}
        {% elseif true == form.vars.valid %}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'succes',
                message: 'message.edited_successfully'|trans,
            }%}
        {% endif %}
        {{ form_widget(form) }}
        <div id="form-buttons">
            <div class="form-group row float-sm-right">
                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary"/>
            </div>
        </div>
        {{ form_end(form) }}
         {% if is_granted('ROLE_ADMIN') %}
             <div id="form-buttons">
                 <a class="btn btn-warning" href="{{  url('user_index') }}" title=" {{ 'action.back_to_list'|trans }}">
                     {{ 'action.back_to_list'|trans }}
                 </a>
             </div>
             {% else %}
                 <div id="form-buttons">
                     <a class="btn btn-warning" href="{{  url('user_show', {id: app.user.id} ) }}" title=" {{ 'action.cancel'|trans }}">
                         {{ 'action.cancel'|trans }}
                     </a>
                 </div>
        {% endif %}
     {% else %}
         <p>
             {{ 'message.page_not_available'|trans }}
         </p>
     {% endif %}
{% endblock %}